mark.kk-sh-highlight {
	background-color: unset;
	border-radius:0.4em;
	padding:0 0.25em 0.1em;
}

mark.kk-sh-highlight-pen {
	background-color: unset;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

