.image-polaroid {
  min-width:64px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-polaroid img {
    width: 100%;
    padding:10px;
    height: auto;
}
.image-polaroid .image-polaroid-caption {
    padding:10px 15px 10px;
    text-align: center; 
    line-height: 1.4em;
    font-weight:300;
    font-size: 0.9em; 
}