/* Mouseover toolbar visibility: courtesy from Tobias Beer*/
.tc-tiddler-frame .tc-titlebar button {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.tc-tiddler-frame:hover .tc-titlebar button {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
